body {
    background-color: #212121 !important /*1e0212*/
  }

h1 {
    color: #5FE0D4 !important
  }

p {
    color: #5FE0D4
  }

.align-bottom img {
    vertical-align:bottom;
    border:0;
  }

#wrap {
    padding-top: 60px;
  }

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.08); }
