body {
    background-color: #212121 !important /*1e0212*/
  }

h1 {
    color: #5FE0D4 !important
  }

p {
    color: #5FE0D4
  }

.center-pic {
    text-align: center;
  }

.footer-images img {
    vertical-align:bottom;
    border:0;
  }

#wrap {
    padding-top: 60px;
  }
